VITE_SUPABASE_URL=https://sebphzbptktohcisskht.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Q5kbGgWhHvmZ_UMi9qdKtw_7-VMbSJq
POSTGRES_HOST=aws-0-ap-south-1.pooler.supabase.com
POSTGRES_PORT=5432
POSTGRES_DATABASE=postgres
POSTGRES_USER=postgres.sebphzbptktohcisskht.supabase.co